.atras {
    margin-bottom: 2em;
}

.spacer {
    flex: 1 1 auto;
}

mat-card-title-group > button {
    margin-left: 1em;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.small-card {
    margin-right: 1em;
    margin-bottom: 1em;
    width: 25%;
    height: 70px;
    padding: 2em;
}

mat-selection-list {
    width: 60%;
}

.list-items {
    max-height: 500px;
    overflow-y: scroll;
}

.right {
    float: right;
}