<button mat-button class="atras" [routerLink]="['/main']">
    <mat-icon>arrow_back</mat-icon>Atrás
</button>

<div  class="container" *ngIf="trimester else noItems">
    <mat-card class="small-card">
        <mat-card-title-group>
        <mat-card-title>{{ trimester?.name }}</mat-card-title>
        <mat-card-subtitle>{{countWatchedSessions(trimester)}}/{{countTotalSessions(trimester)}} Sesiones</mat-card-subtitle>
        <button mat-fab color="accent" aria-label="detail">
            <mat-icon *ngIf="hasPendingSessions(trimester); else elseBlock">remove_done</mat-icon>
            <ng-template #elseBlock>
                <mat-icon>done_all</mat-icon>
            </ng-template>
        </button>
        </mat-card-title-group>
    </mat-card>

    <mat-selection-list #sessions [multiple]="false">
        <div mat-subheader>Sesiones del {{ trimester?.name }}<span class="spacer"></span>último visto: {{getLastViewed(trimester)}}</div>
        <mat-divider></mat-divider>
        <div class="list-items">
            <mat-list-option *ngFor="let session of trimester?.sessions" (click)="listClick(session)">
                <div mat-line>
                    <b>{{ session.id }}</b> - {{ session.name }}
                    <mat-icon class="right" *ngIf="session.watched; else elseBlock">visibility</mat-icon>
                    <ng-template #elseBlock>
                        <mat-icon class="right">visibility_off</mat-icon>
                    </ng-template>
                </div>
            </mat-list-option>
        </div>
    </mat-selection-list>
</div>
<ng-template #noItems>
    <p>No hay ningún trimestre con ese identificador</p>
</ng-template>