<mat-card class="big-card">
    <mat-card-title>Vuelve donde lo dejaste</mat-card-title>
    <mat-card-subtitle>2º Trimestre - Sesión 25, Ordinales, Fracciones y decimales</mat-card-subtitle>
    <mat-card-actions>
      <button mat-raised-button color="accent"><mat-icon>arrow_right</mat-icon>Reproducción ordenada</button>
      <button mat-stroked-button color="accent"><mat-icon>shuffle</mat-icon>Aleatorio</button>
      <button mat-stroked-button color="accent"><mat-icon>redo</mat-icon>Siguiente sesión</button>
    </mat-card-actions>
  </mat-card>