<h1 mat-dialog-title>Antes de empezar...</h1>
<mat-dialog-content>
  Estás a punto de ver <b>{{ data.id }}</b> - {{ data.name }}.
  <div class="container">
      <div class="tip">
        <mat-icon>volume_up</mat-icon>
        <p>Asegúrate de tener el <b>volumen activado.</b></p>
      </div>
      <div class="tip">
        <mat-icon>timer</mat-icon>
        <p>Los bits pasan automáticamente <b>cada 2 segundos</b>.</p>
      </div>
      <div class="tip">
        <mat-icon>pause</mat-icon>
        <p>Puedes detener el pase con la <b>barra espaciadora</b> o haciendo <b>click en la pantalla</b>.</p>
      </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button>Empezar</button>
  <button mat-button type="button" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>