.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

h1 {
    font-size: xx-large;
}

mat-icon {
    height: 60px;
    width: 60px;
    font-size: 60px;
}

.tip {
    width: 25%;
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: center;
}