.title {
    font-size: xx-large !important;
}

.spacer {
    flex: 1 1 auto;
}

button {
    margin-right: 1em;
}

.layout {
    margin: 1em auto;
    width: 80%;    
}

.drawer {
    width: 25%;
    padding: 2em;
}

.form {
    margin-top: 2em;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

mat-drawer-container {
    height: 100vh;
}