<mat-drawer-container autosize [hasBackdrop]="true">
  <mat-drawer class="drawer" #drawer mode="over">
    <button mat-button class="atras" (click)="drawer.toggle()">
      <mat-icon>arrow_back</mat-icon>Atrás
    </button>
    <form class="form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Idioma</mat-label>
        <mat-select>
          <mat-option *ngFor="let lang of languages" [value]="lang">{{lang}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Curso</mat-label>
        <mat-select>
          <mat-option *ngFor="let course of courses" [value]="course">{{course}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="accent" aria-label="Menu" (click)="drawer.toggle()">Guardar configuración</button>
      <br>
      <button mat-button color="white" aria-label="Menu" (click)="drawer.toggle()">Cerrar sin guardar</button>
    </form>
  </mat-drawer>

  <mat-toolbar color="primary">
    <span class="title">{{title}}</span>
  
    <span class="spacer"></span>
  
    <button mat-mini-fab color="white" aria-label="Menu" [routerLink]="['/main']">
        <mat-icon color="primary">menu</mat-icon>
    </button>
  
    <button mat-mini-fab color="white" aria-label="Menu" (click)="drawer.toggle()">
        <mat-icon color="primary">settings</mat-icon>
    </button>
  
    <button mat-mini-fab color="white" aria-label="Menu">
        <mat-icon color="primary">logout</mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="layout">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>