<p>Temario</p>
  
<div class="container">
  <mat-card class="small-card" *ngFor="let trim of trimesters">
    <mat-card-title-group [routerLink]="['/detail', trim.id]">
      <mat-card-title>{{ trim.name }}</mat-card-title>
      <mat-card-subtitle>{{countWatchedSessions(trim)}}/{{countTotalSessions(trim)}} Sesiones</mat-card-subtitle>
      <button mat-fab color="accent" aria-label="detail">
        <mat-icon *ngIf="hasPendingSessions(trim); else elseBlock">remove_done</mat-icon>
        <ng-template #elseBlock>
            <mat-icon>done_all</mat-icon>
        </ng-template>
      </button>
    </mat-card-title-group>
  </mat-card>
</div>