mat-card-title-group > button {
  margin-left: 1em;
}

p {
  font-size: x-large;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.small-card {
  margin-right: 1em;
  margin-bottom: 1em;
  width: 25%;
  padding: 2em;
}